<p id="notice"><%= notice %></p>


<p>
  <strong>Answer:</strong>
  <%= @answer.content %>
</p>

<p>
  <strong>Comments:</strong>
</p>

<% @responses.order('timestamp').reverse_order().take(3).each do |response| %>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td width="400"><a href="#"></a> <label>[Rating]</label></td>
    </tr>
  </tbody>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td><p><%=response.content%></p></td>
	  		
	
	
    </tr>

  </tbody>
</table>

<br>  
<% end %>


